.effects-group__effects-list_effect {
  border: 1px solid gray;
}

.effects-group__effects-list_effect_effect-name {
  line-height: 20px;
  border-bottom: 1px solid gray;
  padding: 0 7px;
}

.effects-group__effects-list_effect_effect-params {
  padding: 7px;
}